
@model IEnumerable<Sweet.Models.Meeting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Appointments</h2>
<p>
    @Html.ActionLink("Add an Appointment", "New")
</p>
<table class="table">
    <thead>
        <tr>
            @Html.DisplayNameFor(Model => Model.MeetingId)
            @Html.DisplayNameFor(model => model.UserName)
            @Html.DisplayNameFor(model => model.Schedule)
            @Html.DisplayNameFor(model => model.Time)
        </tr>
    </thead>
    <tbody>
        @foreach (var meeting in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => meeting.MeetingId)
                    @Html.DisplayFor(modelItem => meeting.UserName)
                
                    @Html.DisplayFor(modelItem => meeting.Schedule)
               
                    @Html.DisplayFor(modelItem => meeting.Time)
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = meeting.MeetingId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = meeting.MeetingId })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
